body {
  background-color: darkgray;
}

.input {
  display: inline-flex;
}

.inputbox {
  width: 400px;
}

.oneTask {
  display: inline-flex;
}

.cells {
  background-color: azure;
  border-style: solid;
  border-width: 1px;
  min-width: 150px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.table {
  border-style: solid;
  border-width: 1px;
}

.checkbox {
  font-size: 10px;
}

.button {
  margin-left: 20px;
  font-size: 10px;
}
